<footer class="footer mt-auto py-3">
  <div class="container py-3">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
        <small class="text-muted">
          © 2024
          <a href="{% url 'tenant:home' %}" class="text-decoration-none">MyDispatchHub™</a>. All Rights Reserved.
        </small>
      </div>
      <div class="col-md-6">
        <ul class="list-inline mb-0 mt-3 mt-md-0 text-center text-md-end">
          <li class="list-inline-item me-3">
            <a href="{% url 'tenant:about' %}" class="text-muted text-decoration-none">About</a>
          </li>
          <li class="list-inline-item me-3">
            <a href="{% url 'tenant:privacy' %}" class="text-muted text-decoration-none">Privacy Policy</a>
          </li>

          <li class="list-inline-item">
            <a href="{% url 'tenant:contact' %}" class="text-muted text-decoration-none">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
